@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');


html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

h1{
    text-align: center;
}

.button {
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
    background-color:white;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 314px;
    font-size: 21px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;

}